* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;

}
.cabecalho a {
	color: black;
}
.cabecalho a:hover{
	color: orange;
	text-shadow: 1px 5px 8px black;

}
.img01 {
	margin-left: 50px;
	margin-top: 21px;
	width: 18vw;
	height: 19vh;	
}
.img02, .img03, .img04{
	margin-top: 10px;
	width: 15vw;
	height: 25vh;
}
.cabecalho {
	width: 100vw;
	height: 30vh;
	background-color: red;

}
.cabecalho nav {
	margin: 70px 50px 0 0;
	float: right;
}
.cabecalho li {
	font-size: 30px;
	display: inline;
	margin: 5px;
	border-radius: 5px;
	padding: 2px 5px;
}
.pedido {
	background: url(../img/banner.jpg) no-repeat center;
	background-size: cover;
	width: 100vw;
	height: 80vh;
	text-align: center;
}
.pedido h1 {
	font-size: 40px;
	color: yellow;
	text-shadow: 0.1em 0.1em black;	
}
.pedido h1 a{
	font-size: 40px;
	color: yellow;
	text-shadow: 0.1em 0.1em black;	

}
.pedido h1 a:hover{
	transition: 0.5s;
	transform: scale(1.2);
	z-index: 2;
}
.pedido a{
	margin-top: 40px;
	padding: 10px 15px;
	border-radius: 5px;
	border: 0;
}
.combos {
	text-align: center;
	width: 100vw;
	height: 800px;	
}
.combos ul {
	display: inline-block;
}
#combo1, #combo2, #combo3 {
	width: 50vw;
	height: 45vh;
}
.Rodape {
	width: 100vw;
	height: 30vh;
	padding-top: 50px;
	background-color: red;
}
.Rodape p {
	color: white;
	font-size: 18px;
	font-weight: bold;
}
button{
	padding: 20px;
	border: 0;
	background-color: white;
	border-radius: 10px;
	font-size: 18px;
}
button a{
	text-shadow: 0.1em 0.1em black;
	color: yellow;
}
button:hover{
	color: white;
	background-color: orange;
}
button a:hover{
	color: yellow;
}
.direita {
	width: 70%;
	float: right;
}
.esquerda {
	width: 80px;
	height: 80px;
	float: left;
}